*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;

}
html {
    font-size: 10px;
    font-family: 'Source Sans Pro', sans-serif;
}

:root {
/* Colores */
    --Azul       :#345Fb4;
    --Celeste    :#6789CA;
    --GrisOscuro :#313131;
    --Gris       :#777777;
    --GrisClaro  :#A5A5A5;
    --Blanco     :#ffffff;

/* Tamaño de Fuente */

    --size1   : 3.6rem;
    --size2   : 2.6rem;
    --size3   : 2rem;
    --Parrafo : 1.6rem;
    --Pequeño : 1.2rem;
}
/* Secciones */
section {
    max-width: 37.5rem;
    height: auto;
    margin: auto;
    padding: 5rem 0;

    display: flex;
    flex-direction: column;
}