* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}


:root {
    /* variables de color */
    --Verde :rgb(43, 187, 43);
    --texto :#ffff;
    --Boton :rgb(180, 189, 186);


    /* variables de tamaño de letra */
    --h1 : 3rem;
    --h2 : 5rem;
    --parrafo : 1.5rem;
}


/* Estructura de las secciones */

.background-section {
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;}

.section-body {
    max-width: 130rem;
    height: auto;
    margin: auto;}