.Principal{
    background-color: #7292cf;
    background-image: linear-gradient(160deg, #7292cf 0%, #2855ae 100%);

    display: flex;
    flex-direction: column;
    align-items: center;

}

.Titulo{
    width: 12.6rem;
    margin-top: 16.1rem;
}

.Imagen{
    margin-top: 17rem;
}
