/* Body */
.section-movil{
    max-width: 375px;
    height: 667px;
    padding: 0 1rem;
}
/*-----------------------------------*/
.bg-color-sectio-ram{
    background-color: #7292cf;
    background-image: linear-gradient(160deg, #7292cf 0%, #2855ae 100%);

}
.section-ram {
    display: flex;
    flex-direction: column;
}
.section-ram_Imagen1{
    width: 100%;
    margin-top: 10rem;
}
.section-ram_titulo1{
    font-size: var(--h1);
    color: var(--texto);
    margin-top: 15rem;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
}
.section-ram_titulo2{
    font-size: var(--h2);
    color: var(--texto);
    text-align: center;
    
}
.section-ram_boton{
    text-decoration: none;
    
    min-width: 10rem;
    height: 4rem;
    border-radius: 5%;
    background-color: var(--Verde);
    color: var(--texto);
    font-size: var(--parrafo);
    font-weight: 600;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    align-self: flex-end;
    padding: 0 0.5rem;
}
