 @media(min-width: 1280px){

    .Titulos{
        min-width:200px; 
        display: flex;
        justify-content: center;
        margin-left: 3rem;
    }
    .FondoBlanco{
        max-width: 700px;
        margin-left: 60rem;
        margin-top: -15rem;
        border-radius: 40px;
    }
    .CubosLargos div{
        width: 150px;
        height: 190px;
        margin-top: -10px;
        
    }
    .CirculoDentro{
        width:  75px;
        margin-top: 2rem;  
    }
    .Texto{
        width:  6.5rem;

    }
    .Texto2{
        width:  4.5rem;

    }
    .TextoAbajo{
        font-size:2rem;
        
    }
    .Cubo{
        padding-top: 10rem;
    }
    .Cubos div{
        width: 120px;
        height: 120px;
    }
    .Negro{
        font-size: 2rem;
        margin-top: -2rem;
    }
    .Negro2{
        background-color: chartreuse;

    }
    .CuadrosDentro{
        width:  30px;
        margin-top: 1rem;
        margin-left: 1rem;
    }
    .CuadrosDentro1{
        width:  50px;
        margin-top: 1rem;
        margin-left: 1rem;
    }
    .Opcion2{
        width:  30px;
        margin-bottom: 9px;
    }
    .Opcion3{
        width:  50.5px;
        margin-bottom: 10px;
    }
 }